version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    image: parkervijay/backend:1.0
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/meandb
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    image: parkervijay/frontend:1.0
    container_name: frontend
    restart: always
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
